<div class="nest" id="headerClose">
    <div class="title-alt">
        <h6>
            分级用户收入分布</h6>
        <div class="titleClose">
            <a class="gone" href="#headerClose">
                <span class="entypo-cancel"></span>
            </a>
        </div>
        <div class="titleToggle">
            <a class="nav-toggle-alt" href="#header">
                <span class="entypo-up-open"></span>
            </a>
        </div>

    </div>

    <div class="body-nest" id="header" style="height:100%; width:100%;">


        <div id="dabing" style="height: 400px; width:500px;"></div>


    </div>
</div>
</div>
<head>
    <script type="text/javascript" src="assets/component/chart/pie.js"></script>
</head>
